@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: hsl(var(--background));
}

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 210 20% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 210 20% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 210 20% 98%;
    --primary: 84 90% 50%;
    --primary-foreground: 84 100% 10%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.2 32.6% 75.9%;
    --accent: 180 90% 50%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 84 90% 50%;
    --chart-1: 84 90% 50%;
    --chart-2: 180 90% 50%;
    --chart-3: 173 80% 40%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 20 14% 12%;
    --sidebar-primary: 45 75% 55%;
    --sidebar-primary-foreground: 20 14% 8%;
    --sidebar-accent: 60 25% 85%;
    --sidebar-accent-foreground: 20 14% 8%;
    --sidebar-border: 45 20% 70%;
    --sidebar-ring: 45 95% 65%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 210 20% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 210 20% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 210 20% 98%;
    --primary: 84 90% 50%;
    --primary-foreground: 84 100% 10%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.2 32.6% 75.9%;
    --accent: 180 90% 50%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 84 90% 50%;
    --chart-1: 84 90% 50%;
    --chart-2: 180 90% 50%;
    --chart-3: 173 80% 40%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 60 5% 95%;
    --sidebar-primary: 45 75% 55%;
    --sidebar-primary-foreground: 20 14% 8%;
    --sidebar-accent: 20 14% 15%;
    --sidebar-accent-foreground: 60 5% 95%;
    --sidebar-border: 20 14% 20%;
    --sidebar-ring: 45 95% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
